<html>
<head><title>Waterbot</title></head>
<body>
{% for zone in config['WATERBOT'].zones %}
    <form action="api/v0/water-single-zone" method="POST">
        <h3>{{ zone }}</h3>
        {% set pin = config['WATERBOT'].zones[zone].gpio %}
        {% set default_minutes = config['WATERBOT'].zones[zone].minutes %}
        <input type="hidden" name="zone" value="{{ pin }}" />
        <label for="single-zone-minutes-{{ pin }}">Minutes</label>
        <input type="number" id="single-zone-minutes-{{ pin }}" name="minutes" min="1" value="{{ default_minutes }}" max="60" />
        <input type="submit" />
    </form>
{% endfor %}
</body>
</html>
